# TARS API
#TARS_URL=
#TARS_API_KEY=

# Anthropic API
#ANTHROPIC_API_KEY=

# Telemetry
#ASKUI__VA__TELEMETRY__ENABLED=True # Set to "False" to disable telemetry


# Askui ENV variables
#ASKUI_WORKSPACE_ID=
#ASKUI_TOKEN=

# TARS API
# TARS_URL=
# TARS_API_KEY=
# Anthropic API
ANTHROPIC_API_KEY=REPLACE_ME_WITH_THIS_CONTENT_https://docs.google.com/document/d/1RUCy91hfHFy1mdD4yTTMYawTfUlzvuYO4U-vUSthQAk/edit?usp=sharing
# Telemetry
# ASKUI__VA__TELEMETRY__ENABLED=True # Set to "False" to disable telemetry
# Askui ENV variables
ASKUI_WORKSPACE_ID=67afc75a-9ef2-48c0-876e-64a0002f84b9
ASKUI_TOKEN=aWN9sVUh0r4ZccGiYtVL
